<div class="container-fluid pt-4">
  <div class="p-inner d-flex justify-content-center">
    <div class="mt-2">
      <h3>Connect us from <b>Social Media</b></h3>
    </div>
    <div class="divider-container">
      <div class="divider"></div>
    </div>
    <div class="d-flex">
      <div class="s-media">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
      <div class="s-media">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
      <div class="s-media">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
