<div class="container pt-5">
  <div class="container-block">
    <div class="d-flex flex-wrap">
      <section id="digiboards">
        <h5 class="page-title bottom-line">NCC</h5>
        <div class="row">
          <div class="col-lg-4">
            <img
              src="../../../../assets/curricullum/NCC.jpg"
              class="img-fluid found-img"
            />
          </div>

          <div class="textblock col-lg-8">
            <p>
              National Cadet Corps (NCC), came into existence on 15 July 1948
              under an Act of Parliament. Over the years, NCC has spread its
              activities and values, across the length and breadth of the
              country; in schools and colleges, in almost all the districts of
              India.
            </p>
            <p>
              It has attracted millions of young boys and girls, to the very
              ethos espoused by its motto, “unity and discipline” and molded
              them into disciplined and responsible citizens of the country. NCC
              has attained an enviable brand value for itself, in the Young
              India’s mind space.
            </p>
            <p>
              National Cadet Corps (NCC), aims at character building and
              leadership, in all walks of life and promotes the spirit of
              patriotism and National Integration amongst the youth of the
              country. Towards this end, it runs a multifaceted training; varied
              in content, style and processes, with added emphasis on practical
              training, outdoor training and training as a community.
            </p>
            <p class="font-bold">
              Bharatiya Vidya Bhavan has two NCC battalions namely 3 Karnataka
              and 13 Karnataka with an annual enrollment of 50 cadets each.
            </p>
            <p class="font-bold">3 Kar Battalion is exclusively for girls.</p>
          </div>
        </div>
      </section>
      <section id="computerlab">
        <h5 class="page-title bottom-line">Bhajan</h5>

        <div class="row">
          <div class="col-lg-4">
            <img
              src="../../../../assets/curricullum/bhajan.jpg"
              class="img-fluid found-img"
            />
          </div>

          <div class="textblock col-lg-8">
            <p>
              Bhajan is the generic name for any kind of Indian devotional song.
              Bhajan is a Sanskrit word meaning “singing to glorify God." At
              Bharatiya Vidya Bhavan, we teach Bhajans to children as a way of
              introducing them to and building their interest in music. They are
              an integral part of the school’s culture and are part of the
              student’s timetable.
            </p>
            <p>
              The serenity of the lyrics, the tender rendering of a soulful
              note, the positive energy of a group singing in harmony, or the
              absorbed yearning in an individual voice refresh the minds of
              young and result in higher performance.
            </p>
          </div>
        </div>
      </section>
      <section id="transport">
        <h5 class="page-title bottom-line">Abacus</h5>

        <div class="row textblock">
          <div class="col-lg-4">
            <img
              src="../../../../assets/curricullum/abacus.jpg"
              class="img-fluid found-img"
            />
          </div>

          <div class="col-lg-8">
            <p>
              Abacus learning is one of the best ways to improve arithmetic
              skills. Abacus math also helps develop an interest and passion in
              math for many students as their confidence and understanding grows
              from an early age. In our school, students are introduced to
              Abacus from class 1. They use the abacus in class till class 4.
              It’s been proven that Abacus is one of the most effective methods
              for young learners to do mental math.
            </p>
            <p>
              We have observed that when students learn to use an abacus, they
              use their hands and a tool with beads to calculate numbers. It is
              proven that the movement of fingers gives them an opportunity to
              activate the brain sensors. The activity in the right hand helps
              them to coordinate and the left side of the brain and vice versa.
              This brings several benefits to the brain such as:
            </p>
            <ul class="mt-4">
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span
                  >A stress-free way of learning math concepts which build
                  confidence</span
                >
              </li>
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span
                  >Calculation skills are enhanced and students can complete
                  calculations faster and accurately</span
                >
              </li>
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span
                  >It helps with logical reasoning and enhances problem-solving
                  abilities</span
                >
              </li>
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span
                  >Abacus programs not only teach math but also help in
                  improving concentration levels, boosts self-confidence and
                  self-esteem</span
                >
              </li>
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span>It strengthens mental skills like visualization</span>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section id="library">
        <h5 class="page-title bottom-line">Sports</h5>
        <div class="row">
          <div class="col-lg-4">
            <img
              src="../../../../assets/curricullum/sports.jpg"
              class="img-fluid found-img"
            />
          </div>

          <div class="textblock col-lg-8">
            <p>
              The school has a playground measuring 1.25 acres with facilities
              for handball, volleyball and basketball courts. Sports develop the
              physical as well as mental strength in students. Daily physical
              exercise is essential for students because exercise not only helps
              students to stay healthy, but it also helps to improve their
              emotional fitness.
            </p>
            <p>
              Sports is a major part of the school curriculum and it helps them
              to stay emotionally and physically healthy. Participation in
              school sports increases confidence, mental alertness and
              self-esteem. It helps to create various skills such as leadership,
              patience, team work and social skills.
            </p>
          </div>
        </div>
      </section>

      <section id="cctvclassroom">
        <h5 class="page-title bottom-line">Yoga</h5>
        <div class="row">
          <div class="col-lg-4">
            <img
              src="../../../../assets/curricullum/yoga.jpg"
              class="img-fluid found-img"
            />
          </div>

          <div class="textblock col-lg-8">
            <p>
              In today’s fast-paced and technology-driven world, the physical
              and mental well-being of school students is more important than
              ever. With increasing academic pressures and a sedentary
              lifestyle, students often struggle with stress, anxiety, and lack
              of focus. It is in this context that the ancient practice of yoga
              holds immense significance.
            </p>
            <p>
              Yoga not only promotes physical fitness but also cultivates
              emotional stability, mental clarity, and overall holistic
              development. It provides students
            </p>
            <ul class="mt-4">
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span>Physical fitness and flexibility</span>
              </li>
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span>Emotional well being</span>
              </li>
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span>Reduced stress</span>
              </li>
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span>Better concentration and academic performance</span>
              </li>
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span>Cultivates a sense of discipline </span>
              </li>
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span>Develops social skills </span>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section id="cctvclassroom">
        <h5 class="page-title bottom-line">Karate</h5>
        <div class="row">
          <div class="col-lg-4">
            <img
              src="../../../../assets/curricullum/karate.jpg"
              class="img-fluid found-img"
            />
          </div>

          <div class="textblock col-lg-8">
            <p>
              Children’s minds grasp new ideas and techniques readily. Childhood
              is the best time to start on the path of self-respect, respect for
              others, physical health and emotional balance.
            </p>
            <p>
              Studying Karate or martial arts offers young kids the chance to
              develop both physically and emotionally which in turn helps them
              to reach their peak potential.
            </p>
            <p>Learning martial arts helps children to</p>
            <ul class="mt-4">
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span>Learn self-defence</span>
              </li>
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span>Build confidence</span>
              </li>
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span>Hone leadership skills</span>
              </li>
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span>Develops positive character</span>
              </li>
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span>Encourage self-discipline </span>
              </li>
              <li class="icon-list-item">
                <span class="list-icon"
                  ><i class="fa fa-check-circle" aria-hidden="true"></i></span
                ><span>Promotes healthy body and weight</span>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section id="cctvclassroom">
        <h5 class="page-title bottom-line">Field Trips</h5>
        <div class="row">
          <div class="col-lg-4">
            <img
              src="../../../../assets/curricullum/fieldTrip.jpg"
              class="img-fluid found-img"
            />
          </div>

          <div class="textblock col-lg-8">
            <p>
              Bharatiya vidya bhavan recognises the myriad benefits of outdoor
              education especially field trips. Venturing beyond the confines of
              school walls, students step into a world of experiential learning,
              where real-world experiences become powerful educational tools.
            </p>
            <p>
              Different types of field trips such as educational, nature,
              industrial and adventure trips are planned throughout the year.
              Field trips make learning more engaging, memorable, and relevant.
              They promote critical thinking, enhance observational skills, and
              nurture a sense of curiosity and wonder.
            </p>
          </div>
        </div>
      </section>
      <section id="cctvclassroom">
        <h5 class="page-title bottom-line">House Activities</h5>
        <div class="row">
          <div class="col-lg-4">
            <img
              src="../../../../assets/curricullum/houseActivities.jpg"
              class="img-fluid found-img"
            />
          </div>

          <div class="textblock col-lg-8">
            <p>
              Year-long house activities are planned and shared in the annual
              calendar of events. Students get an opportunity to participate in
              activities such as Rangoli making, Mandala art, Mehandi, Ikebana,
              cooking without fire,story telling, creating wealth out of waste,
              origami, storytelling and so on.
            </p>
            <p>
              The activities are spread across from kindergarten to class 10.
              Age-appropriate and innovative activities are planned throughout
              the year and phased out to creatively engage students in
              co-curricular activities.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
