<div class="container pt-5">
  <div class="container-block">
    <h2 class="page-title bottom-line">Kala Bharati</h2>
    <p>
      The school of creative and performing arts at Kendra having started over
      25years ago offers a wide array of classes encompassing Bharatnatyam,
      Drawing and Painting, Karnataka Music, Hindustani music, Violin, Tabla,
      Mandolin, Keyboard, Mridangam, Flute, etc.
    </p>
    <p>
      In collaboration with Bharatiya Jyothisha Samsthan, Bengaluru, we conduct
      specialized courses leading to certifications such as “Jyotisha Pravesha,”
      “Jyothisha Prajna,” and “Jyothisha Acharya” since January 1, 2010. These
      courses emphasize the traditional knowledge of astrology, offering
      structured learning pathways for enthusiasts and scholars alike.
    </p>
    <p>
      Cultural enrichment is a cornerstone of Kendra's activities, highlighted
      by monthly music programs held in collaboration with Bharatiya Vidya
      Bhavan, Bangalore, and Infosys Foundation. These events, scheduled on the
      third Saturday of each month, showcase diverse talents in field of art and
      foster cultural exchange within the community.
    </p>

    <h4>WHO CAN ENROLL?</h4>

    <table class="table table-responsive table-striped">
      <tbody>
        <tr>
          <td>UKG, Class 1 and Class 2</td>
          <td>Bharatanatyam, Drawing and Painting, Karnataka Music</td>
        </tr>
        <tr>
          <td>Class 3 and above and adults</td>
          <td>
            Bharatanatyam, Drawing and Painting, Karnataka Music, Kathak,
            Hindustani music, Tabala, Violin, Mandolin, Keyboard, Mridangam,
            Veena, Flute, etc.
          </td>
        </tr>
      </tbody>
    </table>

    <ul class="mt-4">
      <li class="icon-list-item">
        <span class="list-icon"
          ><i class="fa fa-check-circle" aria-hidden="true"></i></span
        ><span
          >Parents are also welcome to join the classes. Children get motivated
          when parents join.</span
        >
      </li>
      <li class="icon-list-item">
        <span class="list-icon"
          ><i class="fa fa-check-circle" aria-hidden="true"></i></span
        ><span
          >Enrollment is also open to anybody who is not studying in Bharatiya
          Vidya Bhavan school.</span
        >
      </li>
      <li class="icon-list-item">
        <span class="list-icon"
          ><i class="fa fa-check-circle" aria-hidden="true"></i></span
        ><span>There is no upper limit of age to join the classes.</span>
      </li>
      <li class="icon-list-item">
        <span class="list-icon"
          ><i class="fa fa-check-circle" aria-hidden="true"></i></span
        ><span
          >Two classes in a week will be conducted. Week days and weekend
          (Saturday & Sunday) options are also available. Your choice of week
          day or weekend option to be specified during enrollment time.</span
        >
      </li>

      <li class="icon-list-item">
        <span class="list-icon"
          ><i class="fa fa-check-circle" aria-hidden="true"></i></span
        ><span
          >BVB students can join classes soon after the school hours (4:00 PM to
          5:00 PM) and then leave for home. We offer weekday batches from 4:30
          PM to 5:30 PM for students who are studying in schools other than
          BVB.</span
        >
      </li>

      <li class="icon-list-item">
        <span class="list-icon"
          ><i class="fa fa-check-circle" aria-hidden="true"></i></span
        ><span
          >Students who are already enrolled in classes outside Kala Bharathi
          can also join the lessons at Kala Bharathi of Bharatiya Vidya Bhavan
          without any hesitation as they will be enrolled in their respective
          category and lessons will continue after a short revision.</span
        >
      </li>

      <li class="icon-list-item">
        <span class="list-icon"
          ><i class="fa fa-check-circle" aria-hidden="true"></i></span
        ><span
          >Fee for the year will be collected bi-annually in 2 installments
          (June and November). There is no admission fee.</span
        >
      </li>
    </ul>

    <h5 class="mt-2">
      ADVANTAGES OF LEARNING FINE ARTS AT BVB KALA BHARATI OVER OTHER CENTERS
    </h5>

    <ul class="mt-4">
      <li class="icon-list-item">
        <span class="list-icon"
          ><i class="fa fa-check-circle" aria-hidden="true"></i></span
        ><span
          >It is your own school and hence learning and safety is assured.</span
        >
      </li>
      <li class="icon-list-item">
        <span class="list-icon"
          ><i class="fa fa-check-circle" aria-hidden="true"></i></span
        ><span
          >The quality of classes at Kala Bharati of Bharatiya Vidya Bhavan is
          guaranteed.</span
        >
      </li>
      <li class="icon-list-item">
        <span class="list-icon"
          ><i class="fa fa-check-circle" aria-hidden="true"></i></span
        ><span>Students will be exposed to stage performances regularly.</span>
      </li>
      <li class="icon-list-item">
        <span class="list-icon"
          ><i class="fa fa-check-circle" aria-hidden="true"></i></span
        ><span
          >Children will have a parallel career in future, apart from their
          academic career.</span
        >
      </li>

      <li class="icon-list-item">
        <span class="list-icon"
          ><i class="fa fa-check-circle" aria-hidden="true"></i></span
        ><span
          >Students' emotional and logical skills improve when they learn art
          forms.</span
        >
      </li>

      <li class="icon-list-item">
        <span class="list-icon"
          ><i class="fa fa-check-circle" aria-hidden="true"></i></span
        ><span
          >Discipline, Confidence, and communication skills also will
          improve.</span
        >
      </li>

      <li class="icon-list-item">
        <span class="list-icon"
          ><i class="fa fa-check-circle" aria-hidden="true"></i></span
        ><span
          >Kala Bharathi will be recruiting new teachers along with the existing
          teachers who are highly professional.</span
        >
      </li>
      <li class="icon-list-item">
        <span class="list-icon"
          ><i class="fa fa-check-circle" aria-hidden="true"></i></span
        ><span
          >Instruments (violin and tabala) can be purchased after completion of
          the first 5 months of classes as students will be provided instruments
          in Kala Bharati Classes.</span
        >
      </li>
      <li class="icon-list-item">
        <span class="list-icon"
          ><i class="fa fa-check-circle" aria-hidden="true"></i></span
        ><span
          >Akhila Bharatiya Gandharva Maha Vidyalaya exam and S-Vyasa University
          exam facility will be provided along with certificate courses by Kala
          Bharati. These certificates will be helpful for students when they
          apply to universities in India and abroad.</span
        >
      </li>
    </ul>

    <h6>RULES FOR ENROLLMENT <span>(applicable to all categories)</span></h6>
    <table class="table table-responsive table-striped">
      <tbody>
        <tr>
          <td>Beginners</td>
          <td>Freshers can enroll for the classes</td>
        </tr>
        <tr>
          <td>Juniors</td>
          <td>
            <ul>
              <li class="icon-list-item">
                <span>4 years after joining for UKG</span>
              </li>
              <li class="icon-list-item">
                <span>3 years after joining for class1</span>
              </li>
              <li class="icon-list-item">
                <span
                  >2 years after joining for class 2 and class 3 students</span
                >
              </li>
              <li class="icon-list-item">
                <span>1 year after joining for class 4 and above students</span>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Seniors</td>
          <td>
            <ul>
              <li class="icon-list-item">
                <span>7 years after joining for students of UKG.</span>
              </li>
              <li class="icon-list-item">
                <span>6 years after joining for students of class1</span>
              </li>
              <li class="icon-list-item">
                <span>5 years after joining for students of class 2</span>
              </li>
              <li class="icon-list-item">
                <span>4 years after joining for students of class 3</span>
              </li>
              <li class="icon-list-item">
                <span
                  >3 years after joining for students of class 4 and above</span
                >
              </li>
              <li class="icon-list-item">
                <span>Possession of Junior examination certificate</span>
              </li>
              <li class="icon-list-item">
                <span
                  >Possession level 5 Gandharva Mahavidyalaya exam
                  certificate</span
                >
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Vidwat</td>
          <td>
            <ul>
              <li class="icon-list-item">
                <span>After 3 or 4 years of learning in senior group.</span>
              </li>
              <li class="icon-list-item">
                <span>Possession of senior examination certificate</span>
              </li>
              <li class="icon-list-item">
                <span
                  >Possession of level 7 Gandharva Mahavidyalaya exam
                  certificate</span
                >
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <section>
      <div class="contact">
        <p>FOR MORE DETAILS PLEASE CONTACT:</p>
        <p class="all-caps">(9481552141, 9986002207)</p>
      </div>
    </section>
  </div>
</div>
