<div class="event-gallery container pt-5">
  <h2 class="bottom-line text-left all-caps">Hall of Fame</h2>

  <div class="row pb-3">
    <div class="col-lg-4 mb-4">
      <ul class="card-list d-flex">
        <li class="card-item">
          <div class="card-link">
            <a target="_blank">
              <img
                src="../../../assets/hallofFame/thumbnail1.jpg"
                alt=""
                class="image-fluid card-image"
              />
            </a>
            <div class="img-content">
              <h2 class="card-title mt-3">Gowrishree S - 9C</h2>
              <p>Group Level Best Cadet in NCC 3 Kar Battalion</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-lg-4 mb-4">
      <ul class="card-list d-flex">
        <li class="card-item">
          <div class="card-link">
            <a target="_blank">
              <img
                src="../../../assets/hallofFame/thumbnail2.jpg"
                alt=""
                class="image-fluid card-image"
              />
            </a>
            <div class="img-content">
              <h2 class="card-title mt-3">Pareekshith Raj P- 8C</h2>
              <p>Bagged prizes in Bhagavad Gita and Singing Competitions</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-lg-4 mb-4">
      <ul class="card-list d-flex">
        <li class="card-item">
          <div class="card-link">
            <a target="_blank">
              <img
                src="../../../assets/hallofFame/thumbnail3.jpg"
                alt=""
                class="image-fluid card-image"
              />
            </a>
            <div class="img-content">
              <h2 class="card-title mt-3">Pranamya Prasad- 8C</h2>
              <p>Bagged prizes in Karate Competitions</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
