<div class="container pt-5">
  <div class="container-block">
    <h2 class="page-title bottom-line">Students Life</h2>

    <div class="alert alert-warning mt-1" role="alert">
      Lorem ipsum dolor sit
    </div>

    <ul class="list-group">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>
    <p class="mt-4">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam quae ratione
      eaque molestias veniam ducimus, fuga atque, impedit at inventore dicta
      earum? Consequuntur placeat quo magnam corporis autem, neque omnis.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, et
      atque laboriosam sapiente beatae libero minima, eligendi ea distinctio
      consectetur esse nostrum pariatur praesentium nisi quae nam autem eos! A
      beatae, tempore nihil expedita, voluptas pariatur at unde, temporibus quos
      corrupti culpa animi harum fugit iste. Labore sequi iste, dignissimos,
      aperiam eveniet nihil reiciendis et optio nisi repudiandae voluptatibus
      aliquam.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam quae ratione
      eaque molestias veniam ducimus, fuga atque, impedit at inventore dicta
      earum? Consequuntur placeat quo magnam corporis autem, neque omnis.
    </p>
  </div>
</div>
