<div class="footer pt-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="block">
          <h5 class="all-caps">Get In Touch</h5>
          <div class="mt-5">
            <ul class="address">
              <li class="d-flex mb-2">
                <div class="col1">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <address class="mx-4">
                  <p>CA14, Hunsur Rd, Vijayanagar 1st Stage,</p>
                  <p>Mysuru,</p>
                  <p>Karnataka - 570017</p>
                </address>
              </li>
              <li class="d-flex mb-2">
                <div class="col1">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <p class="mx-4">principal&#64;bvbmysuru.com</p>
              </li>
              <li class="d-flex mb-2">
                <div class="col1">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <p class="mx-4">0821 2412141, 0821 2416106</p>
              </li>
              <li class="d-flex">
                <div class="col1">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <address class="mx-4">
                  <p>Opening Hours</p>
                  <p>Monday - Saturday</p>
                  <p>09:00 AM - 05:00 PM</p>
                </address>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="block">
          <h5>Quick links</h5>
          <div class="d-flex">
            <div class="mt-5">
              <ul class="navbar-list font-weight-bold mx-auto py-0">
                <li class="nav-item active mb-2">
                  <a class="nav-link" routerLink="/home" routerLinkActive="true"
                    >Home</a
                  >
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" routerLink="/about">About Bhavans</a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" routerLink="/curriculum">Academics</a>
                </li>

                <li class="nav-item mb-2">
                  <a class="nav-link" routerLink="/facilities"
                    >Infrastructure</a
                  >
                </li>

                <li class="nav-item mb-2">
                  <a class="nav-link" routerLink="/hallOfFame">Achievements</a>
                </li>

                <li class="nav-item mb-2">
                  <a class="nav-link" routerLink="/kalabharati">Kalabharati</a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" routerLink="/contact-us">Contact Us</a>
                </li>
              </ul>
            </div>

            <div class="mt-5 mx-4">
              <ul class="navbar-list font-weight-bold mx-auto py-0">
                <li class="nav-item active mb-2">
                  <a class="nav-link" [routerLink]="['/hallOfFame']"
                    >Hall of Fame</a
                  >
                </li>

                <li class="nav-item mb-2">
                  <a
                    class="nav-link"
                    target="_blank"
                    href="../../../../assets/monthlyReport/BVB-Monthly Report December 2024.pdf"
                    >Monthly Reports-December 2024</a
                  >
                </li>

                <li class="nav-item mb-2">
                  <a class="nav-link" [routerLink]="['/calendarEvents']"
                    >Academic Calendar</a
                  >
                </li>
                <li class="nav-item mb-2">
                  <a
                    class="nav-link"
                    [routerLink]="['/about']"
                    fragment="busdrivers"
                    >Transport details</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="mt-3"></div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <ul class="links d-flex">
        <li class="s-media">
          <a
            href="https://www.facebook.com/profile.php?id=61571126372588&mibextid=ZbWKwL"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa fa-facebook" aria-hidden="true"></i
          ></a>
        </li>
        <li class="s-media">
          <a
            href="https://www.instagram.com/bharatiyavidyabhavanmysore/profilecard/?igsh=ZGY2Y3J0c3BjeXM2"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa fa-instagram" aria-hidden="true"></i
          ></a>
        </li>
        <li class="s-media">
          <a
            href="https://www.youtube.com/@BVBMysuru"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa fa-youtube-play" aria-hidden="true"></i
          ></a>
        </li>
        <li class="s-media">
          <a
            href="https://www.linkedin.com/in/bharatiya-vidya-bhavan-mysuru-315b69342?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa fa-linkedin" aria-hidden="true"></i
          ></a>
        </li>
      </ul>

      <p>Copyright © 2024 - All Rights Reserved - BVB Mysuru</p>
    </div>
    <div class="clear"></div>
  </div>
</div>
