<div class="container pt-5">
  <div class="container-block">
    <h2 class="page-title bottom-line">Curriculum</h2>

    <p class="mt-1" role="alert">
      Bharatiya Vidya Bhavan is an English medium school affiliated to the
      Department of School Education, Government of Karnataka. The Karnataka
      State Curriculum Framework for the Foundational Stage includes information
      about the vision for education in the 21st century and the importance of
      early years for lifelong learning.
    </p>
    <p>
      In grades 1–4, the core subjects are EVS and mathematics. In grades 5–10,
      the core subjects are mathematics, science, and social science. Apart from
      Kannada and English, we also introduce Sanskrit from grade 1. Hindi is
      introduced from grade 5.
    </p>

    <p>
      We follow the Karnataka Textbooks from Karnataka Textbook Society (KTS)
      for all classes. In addition to it, we also use extended resources to give
      varied learning experience to our students.
    </p>

    <p>
      The Karnataka Secondary Education Examination Board (KSEEB) conducts the
      SSLC board exam once a year for class 10. The Karnataka school Examination
      and Assessment Board (KSEAB) conducts the SSLC board exam once a year for
      class 10.
    </p>

    <h6 class="all-caps mt-4">
      Performance of students in SSLC for the last three years
    </h6>

    <table class="table table-responsive table-striped mt-3">
      <thead>
        <tr class="all-caps">
          <th>Year</th>
          <th>No. of Registered Students</th>
          <th>No. of Students Passed</th>
          <th>Pass Percentage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2021</td>
          <td>148</td>
          <td>148</td>
          <td>100</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>161</td>
          <td>161</td>
          <td>100</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>155</td>
          <td>155</td>
          <td>100</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
