<div class="container pt-5">
  <div class="container-block">
    <h2 class="page-title bottom-line">ASTROLOGY</h2>
    <h5 class="page-title">Sunil Kumar G M</h5>
    <div class="wrapper">
      <p>
        Sunil Kumar G.M. is a unique professional who combines technical
        expertise with traditional Indian astrological sciences. Hee holds
        advanced technical degrees including an M.Tech. in Digital Electronics
        and communication systems, while also having an M.A. in astrology from
        Potti Sriramalu University and Jyothishya Acharya course from BVB. Since
        2018, he has been sharing his knowledge as an astrology teacher at
        Bharatiya Vidya Bhavan and from 2020, he has been providing online
        consultations with Astro sage company. His expertise spans Vedic
        Astrology, vastu, prashna and marriage matching, complemented by German
        language skills at the A1 and A2 levels. Based in Mysuru, he represents
        a modern bridge between traditional metaphysical practices and
        contemporary technnical understanding of astrology.
      </p>
    </div>
  </div>
</div>
